<div class="carde shadow-lg">
    <div class="foto">
    </div>
    <div class="frases">
      <p class="title">
        Iago Silva
      </p>
      <p class="subtitle">
        Desenvolvedor Python
      </p>
      <div class="social">
        <a target="_blank" [href]="linkedinLink"><span class="fa fa-linkedin"></span></a>
        <a href="#"><span class="fa fa-twitter"></span></a>
        <a target="_blank" [href]="gitLink"><span class="fa fa-github"></span></a>
        <a href="#"><span class="fa fa-spotify"></span></a>
        <a href="#"><span class="fa fa-stack-overflow"></span></a>
      </div>
    </div>
    <div class="btns">
      <a class="btn" target="_blank" [href]="curriculumLink">
        Baixar curriculo <i class="fa fa-download" style="margin-left: 10px; font-size: 16px;"></i>
      </a>
      <a class="btn" target="_blank" [href]="linkedinLink">
        Entre em contato <i class="fa fa-angle-right" style="margin-left: 10px; font-size: 16px;"></i>
      </a>
    </div>
</div>
