<div class="carde">
    <div class="foto">
    </div>
    <div class="frases">
      <p class="title">
        Iago Silva
      </p>
      <p class="subtitle">
        Desenvolvedor Angular
      </p>
      <div class="social">
        <a target="_blank" href="https://dribbble.com/"><span class="fa fa-dribbble"></span></a>
        <a target="_blank" href="https://twitter.com/"><span class="fa fa-twitter"></span></a>
        <a target="_blank" href="https://github.com/"><span class="fa fa-github"></span></a>
        <a target="_blank" href="https://www.spotify.com/"><span class="fa fa-spotify"></span></a>
        <a target="_blank" href="https://stackoverflow.com/"><span class="fa fa-stack-overflow"></span></a>
      </div>
    </div>
    <div class="btns">
      <a class="btn" href="">
        Baixar curriculo <i class="fa fa-download" style="margin-left: 10px; font-size: 16px;"></i>
      </a>
      <a class="btn" href="">
        Entre em contato <i class="fa fa-angle-right" style="margin-left: 10px; font-size: 16px;"></i>
      </a>
    </div>
</div>
