.carde{
    z-index: 2;
    border-radius: 8px;
    background-color: white;
    width: 450px;
    height: 700px;  
    position: relative;
}



.foto{
    background-image: url('../../../assets/imgs/modelo.jpg');
    background-repeat: no-repeat;
    height: 57%;
    background-size: 100%;
    border-radius: 8px 8px 0 0px;
    overflow: hidden;
    width: 100%;
    position: absolute

}
.title{
    margin-top: 3vh;
    font-size: 4vh;
    color: #323232;
}

.subtitle{
    color: #481fdc;
    font-size: 2vh;
}

.frases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 24vh;
}

.social a{
    margin: 0 6px;
    color: black;
    font-size: 2vh;
}
.btns{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    bottom: 0;
    justify-content: space-between;
}

.btn{
    color: #323232;
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.7vh;
}
.btn::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.btns::before {
    content: " ";
    width: 100%;
    left: 0;
    height: 1px;
    position: absolute;
    background: -webkit-radial-gradient(center, ellipse cover, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}


.btns a:hover {
    color: #481fdc;
}

.social a:hover{
    color: #481fdc;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;

  }
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.foto::after{
    content: '';
    position: absolute;
    left: -5%;
    bottom: -19vh;
    width: 80vh;
    height: 25vh;
    background: #ffffff;
    transform: rotate(12deg);
    -webkit-transform: rotate(-12deg);
}

.foto::before{
    content: '';
    position: absolute;
    left: -8%;
    bottom: -25.3vh;
    width: 80vh;
    height: 25vh;
    background: #ffffff;
    /* transform: rotate(12deg); */
}