<div class="top-menu" id="menu">
      <div class="menu-item">
        <a class="link-item active" href="#sobre">
          <i class="fa fa-user" style="margin-top: 10px;">
          </i><br>
          <span>Sobre</span>
          
        </a>
        </div>
      <div class="menu-item">
        <a class="link-item" href="#resumo">
          <i class="fa fa-file">
          </i><br>
          Resumo
        </a>
      </div>
      <div class="menu-item">
        <a class="link-item" href="#projetos">
          <i class="fa fa-paint-brush">
          </i><br>
          Projetos
        </a>
      </div>
      <div class="menu-item">
        <a class="link-item" href="#contato" style="margin-bottom: 5px;">
          <i class="fa fa-at">
          </i><br>
          Contato
        </a>
      </div>
    </div>