<div class="pre-sobre-card" id="sobre"> 
  <div class="sobre-card">
    <div class="title2">
      <span class="p-p">Sobre</span>
      Mim
    </div>    
    <div class="sobre-mim">
      <p class="texto-sobre">
        I am Ryan Adlard, web designer from USA, California. I have rich experience in web site design and building and customization, also I am good at wordpress. I love to talk with you about our unique.
      </p>
      <ul class="mais-info">
        <li><strong>Idade</strong>18</li>
        <li><strong>Residente</strong>SP</li>
        <li><strong>Freelancer</strong>Disponivel</li>
        <li><strong>Endereço</strong>SP - Capital</li>
      </ul>
    </div>
    <div class="title2">
      <span class="p-p">Meu</span>
      Serviços
    </div>
    <div class="service">
      <div class="pre-section">
        <div class="section">
          <div class="icon">
            <i class="fa fa-code" style="color: white; font-size: 20px;"></i>
          </div>
          <div class="title2">
            Web Development
          </div>
          <div class="text">
            Modern and mobile-ready website that will help you reach all of your marketing.
          </div>
        </div>
  <div class="section">
    <div class="icon">
      <i class="fa fa-music" style="color: white; font-size: 20px;"></i>
    </div>
    <div class="title2">
      Music Writing
    </div>
    <div class="text">
      Music copying, transcription, arranging and composition services, lorem ipsun dolor sit 
    </div>
  </div>
      </div>
      <div class="pre-section">
        <div class="section">
          <div class="icon">
            <i class="fa fa-bullhorn" style="color: white; font-size: 20px;"></i>
          </div>
          <div class="title2">
            Advertising
          </div>
          <div class="text">
            Advertising services include television, radio, print, mail and web.
          </div>
        </div>
  <div class="section">
    <div class="icon">
      <i class="fa fa-gamepad" style="color: white; font-size: 20px;"></i>
    </div>
    <div class="title2">
      Game development
    </div>
    <div class="text">
      Music copying, transcription, arranging and composition services, lorem ipsun dolor sit 
    </div>
  </div>
      </div>
      <div class="title2">
        <span class="p-p">P</span>reço
      </div>
      <div class="service">
        <div class="pre-section">
          <div class="section">
            <div class="">
              <i class="fa fa-tachometer rotate" style="color: #481fdc; font-size: 20px;"></i>
            </div>
            <div class="pricing">
              Básico
            </div>
            <div class="text">
              <span class="dolar">$</span>
              <span class="number">22</span>
              <span class="text-topic">hora</span>
            </div>
            <ul class="lista-de-recurso">
              <li>
                Desenvolvimento Web
              </li>
              <li>
                Publicidade
              </li>
              <li>
                Desenvolvimento de Games
              </li>
              <li class="disable">
                Composição Musical
              </li>
              <li class="disable">
                Fotografia
              </li>
            </ul>
            <div class="lnks">
              <a href="#" class="lnk">
                <span class="text-buy">Comprar Básico</span>
                <i class="fa fa-tachometer rotate" style="color: #000; font-size: 16px;"></i>
              </a>
            </div>
          </div>
      <div class="section">
        <div class="">
          <i class="fa fa-tachometer" style="color: #481fdc; font-size: 20px;"></i>
        </div>
        <div class="pricing">
          Pro
        </div>
        <div class="text">
          <span class="dolar">$</span>
          <span class="number">48</span>
          <span class="text-topic">hora</span>
        </div>
        <ul class="lista-de-recurso">
          <li>
            Desenvolvimento Web
          </li>
          <li>
            Publicidade
          </li>
          <li>
            Desenvolvimento de Games
          </li>
          <li class="">
            Composição Musical
          </li>
          <li class="">
            Fotografia
          </li>
        </ul>
        <div class="lnks">
          <a href="#" class="lnk">
            <span class="text-buy">Comprar Pro</span>
            <i class="fa fa-tachometer" style="color: #000; font-size: 16px;"></i>
          </a>
        </div>
        
      </div>
        </div>
    </div>
    
  </div>
  </div>
</div> 
