<div class="pre-sobre-card animated fadeInLeft" id="sobre"> 
  <div class="sobre-card">
    <div class="title2">
      <span class="p-p">Sobre</span>
      Mim
    </div>    
    <div class="sobre-mim">
      <p class="texto-sobre">
        Sou desenvolvedor back-end, com mais de 2 anos de experiência em desenvolvimento de aplicações como API RESTful, robôs para automatização de tarefas, Webscraping e Data Mining. Possuo sólidos conhecimentos em Design patterns, Python, Django, Angular e API.
      </p>
      <ul class="mais-info">
        <li><strong>Idade</strong>19</li>
        <li><strong>Residente</strong>SP</li>
        <li><strong>Freelancer</strong>Disponivel</li>
        <li><strong>Endereço</strong>SP - Capital</li>
        <li><strong>Stack</strong>Back-end</li>
      </ul>
    </div>
    <div class="title2">
      <span class="p-p">Meu</span>
      Serviços
    </div>
    <div class="service">
      <div class="pre-section">
        <div class="section">
          <div class="icon">
            <i class="fa fa-code" style="color: white; font-size: 3vh;"></i>
          </div>
          <div class="title2" style="text-align: center;">
            Software Development
          </div>
          <div class="text">
            Desenvolvimento de software é uma das habilidades mais requisitadas do mercado TECH.

Desenvolvo software desde pequeno, faço isso em python, mas estou sempre disposto a aprender coisas.

          </div>
        </div>
  <div class="section">
    <div class="icon">
      <i class="fa fa-database" style="color: white; font-size: 3vh;"></i>
    </div>
    <div class="title2">
      Data mining
    </div>
    <div class="text">
      Também  conhecido como Web Scraping é o processo de mineração de dados, usado para resolução de problemas de qualquer esfera

Minerar dados é o que eu faço, para desenvolver soluções limpas, flexíveis e eficientes.

    </div>
  </div>
      </div>
      <div class="pre-section">
        <div class="section">
          <div class="icon">
            <i class="fa fa-bullhorn" style="color: white; font-size: 3vh;"></i>
          </div>
          <div class="title2">
            Automação Selenium
          </div>
          <div class="text">
            Usado principalmente para testar aplicativos da web e de vez em quando, quando se faz necessário, usado também para Web Scraping.

O selenium fornece um ótimo kit para automação de navegadores.

          </div>
        </div>
  <div class="section">
    <div class="icon">
      <i class="fa fa-gamepad" style="color: white; font-size: 3vh;"></i>
    </div>
    <div class="title2">
      Python Development
    </div>
    <div class="text">
      Python é minha “main” linguagem, sempre que preciso resolver um problema, seja ele simples como p.e: consumir, construir API ou mais complexo como desenvolvimento de software Cross-Platform

    </div>
  </div>
      </div>
      
  </div>
  </div>
</div>


<!--##################################               RESUMO           ##############################-->

<div class="pre-sobre-card d-none" id="resumo"> 
  <div class="sobre-card">
    <div class="title2">
      <span class="p-p">Minhas</span>
      Habilidades
    </div>
    <div class="skills">
      
      <div class="exp">
        <div class="title-skills">
          <div class="icon-skill">
            <i class="fa fa-briefcase" style="color: #481fdc; font-weight: 600; font-size: 3vh;"></i>
          </div>
          <span>experiencias</span>
        </div>
        <div class="texts" *ngFor="let exp of experiencias">
          <div class="year">{{exp.periodo}}</div>
          <div class="cargo">{{exp.cargo}}</div>
          <div class="company">
            <i class="fa fa-handshake-o" style="color: #481fdc"></i>
             {{exp.company}}</div>
          <div class="desc">{{exp.desc}}</div>
        </div>
        
      </div>
      <div class="exp">
        <div class="title-skills">
          <div class="icon-skill">
            <i class="fa fa-graduation-cap" style="color: #481fdc; font-weight: 600; font-size: 3vh;"></i>
          </div>
          <span>Formação</span>
        </div>
        <div class="texts" *ngFor="let form of formacoes">
          <div class="year">{{form.periodo}}</div>
          <div class="cargo">{{form.title}}</div>
          <div class="company">
            <i class="fa fa-graduation-cap" style="color: #481fdc"></i>
             {{form.intituicao}}</div>
          <div class="desc">{{form.desc}}</div>
        </div>
        
        
      </div> 
       
    </div>
      <div class="conhecimento">
        <div class="dev knowledge">
          <div class="title-skills">
            <div class="icon-skill">
              <i class="fa fa-code" style="color: #481fdc; font-weight: 600; font-size: 3vh;"></i>
            </div>
            <span>Conhecimento</span>
          </div>
          <div class="skill">
            <ul>
              <li *ngFor="let conhecimento of conhecimentos">
                <div class="icon-conhecimento">
                  <i class="fa fa-check" style="color: #481fdc; font-weight: 600; font-size: 15px;"></i>
                </div>
                <div class="text-conhecimento">
                  &nbsp; {{conhecimento}}
                </div>
              </li>
              
              
            </ul>
          </div>
        </div>
        <div class="dev">
          <div class="title-skills">
            <div class="icon-skill">
              <i class="fa fa-code" style="color: #481fdc; font-weight: 600; font-size: 3vh;"></i>
            </div>
            <span>Desenvolvedor</span>
          </div>
          <div class="skill">
            <ul>
              <li>
                <div class="nome">
                  Python
                </div>
                <div class="progresso">
                  <div class="slice">
                    <div class="barra"></div>
                    <div class="preenchido" style="width: 25%"></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="nome">
                  Angular 7+
                </div>
                <div class="progresso">
                  <div class="slice">
                    <div class="barra"></div>
                    <div class="preenchido" style="width: 23%"></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="nome">
                  Flutter
                </div>
                <div class="progresso">
                  <div class="slice">
                    <div class="barra"></div>
                    <div class="preenchido" style="width: 20%"></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="nome">
                  Flask
                </div>
                <div class="progresso">
                  <div class="slice">
                    <div class="barra"></div>
                    <div class="preenchido" style="width: 15%"></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="nome">
                  Django
                </div>
                <div class="progresso">
                  <div class="slice">
                    <div class="barra"></div>
                    <div class="preenchido" style="width: 26%"></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="nome">
                  MySQL
                </div>
                <div class="progresso">
                  <div class="slice">
                    <div class="barra"></div>
                    <div class="preenchido" style="width: 15%"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
  </div>
</div> 
<!--###############################                PROJETOS                 #################################-->

<div class="pre-sobre-card d-none" id="projetos"> 
  <div class="sobre-card">
    <div class="title2">
      <span class="p-p">Proje</span>tos
    </div>
    <div class="projetos">
    
      <div class="projeto1" *ngFor="let proj of projetos">
        <a [href]="proj.url" target="new:blank">
          <div class="imageP">
            <p style="top: 40%; left: 6%; font-weight: 600">{{proj.title}}</p>
            <p style="top: 43%; left: 6%">{{proj.desc}}</p>
            <img style="width: 200px; text-align: center" [src]="proj.img">
        </div>
        </a>
      </div>
    </div>
</div>
</div> 

<!--###############################                 contato                          #################################-->
<div class="pre-sobre-card d-none" id="contato"> 
  <div class="contact">
    <div class="title2">
      <span class="p-p">Entrar em</span>
      Contato
    </div>
    <div class="contact-form">
        <div class="col col-d-6 col-t-6 col-m-12">
          <div class="group-val">
            <input type="text" name="name" placeholder="Seu nome">
          </div>
        </div>
        <div class="col col-d-6 col-t-6 col-m-12">
          <div class="group-val">
            <input type="text" name="email" placeholder="Seu Email">
          </div>
        </div>
        <div class="col col-d-12 col-t-12 col-m-12">
          <div class="group-val">
            <textarea name="message" placeholder="Sua mensagem"></textarea>
          </div>
        </div>
        <div class="col col-d-6 col-t-6 col-m-12" style="margin: .5rem 0">
          <a href="#" class="button" onclick="$('#cform').submit(); return false;">
            <span class="btn-text-submit">Enviar Mensagem</span>
            <span class="fa fa-send mx-2"></span>
          </a>
        </div>
    </div>
    <div class="msg">
      <img src="imgs/msg.png" style="width: 250px; margin-top: 15px;" alt="">
    </div>  
  </div>
</div> 
